Source: bunsen-meta-all
Section: misc
Priority: extra
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-meta-all
Vcs-Git: https://github.com/BunsenLabs/bunsen-meta-all.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-meta-all.git

Package: bunsen-meta-all
Architecture: all
Depends: ${misc:Depends}
Description: Metapackage for the full BunsenLabs install
 This metapackage, if installed with recommends, will install all
 the packages needed for a full BunsenLabs system.
Recommends: alsa-utils,
 anacron,
 apt-transport-https,
 apt-xapian-index,
 aptitude,
 arandr,
 arj,
 at-spi2-core,
 bash-completion,
 btrfs-tools,
 catfish,
 clipit,
 compton,
 conky-all,
 cpufrequtils,
 curl,
 crda,
 dmz-cursor-theme,
 dosfstools,
 eject,
 enchant,
 evince,
 fbxkb,
 fdpowermon,
 feh,
 file-roller,
 filezilla,
 firefox-esr,
 firmware-b43-installer,
 firmware-b43legacy-installer,
 firmware-linux,
 fonts-cantarell,
 fonts-dejavu,
 fonts-droid,
 fonts-inconsolata,
 fonts-liberation,
 ftp,
 fuse,
 galculator,
 galternatives,
 gdebi,
 geany,
 ghostscript,
 gigolo,
 gksu,
 gmrun,
 gnome-keyring,
 gnumeric,
 gparted,
 gsimplecal,
 gstreamer1.0-libav,
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly,
 gstreamer1.0-pulseaudio,
 gvfs,
 gvfs-backends,
 gvfs-fuse,
 hardinfo,
 hdparm,
 hddtemp,
 hexchat,
 htop,
 hwdata,
 i965-va-driver,
 lame,
 libpam-gnome-keyring,
 libreoffice-writer,
 libreoffice-gtk,
 libnotify-bin,
 lightdm,
 light-locker,
 lm-sensors,
 locales,
 lsb-release,
 lxappearance,
 lzop,
 mirage,
 mlocate,
 modemmanager,
 network-manager-gnome,
 nitrogen,
 ntfs-3g,
 ntp,
 obconf,
 openbox,
 openssh-client,
 p7zip-full,
 pavucontrol,
 pciutils,
 pcmciautils,
 policykit-1-gnome,
 pulseaudio,
 pulseaudio-module-x11,
 python-keybinder,
 python-notify,
 python-xdg,
 rfkill,
 rpl,
 rsync,
 rzip,
 scrot,
 smartmontools,
 suckless-tools,
 sudo,
 synaptic,
 terminator,
 thunar,
 thunar-archive-plugin,
 thunar-media-tags-plugin,
 thunar-volman,
 tint2,
 transmission-gtk,
 ttf-mscorefonts-installer,
 tumbler,
 unace,
 unalz,
 unar,
 unrar,
 unzip,
 update-inetd,
 usb-modeswitch,
 usbutils,
 user-setup,
 uuid-runtime,
 va-driver-all,
 vdpau-va-driver,
 vlc,
 vlc-plugin-notify,
 volumeicon-alsa,
 wireless-tools,
 xdg-user-dirs,
 xdg-utils,
 xfburn,
 xfce4-notifyd,
 xfce4-power-manager,
 xfce4-screenshooter,
 xinput,
 xorg,
 xsel,
 xz-utils,
 zip,
 bunsen-common,
 bunsen-configs,
 bunsen-conky,
 bunsen-docs,
 bunsen-faenza-icon-theme,
 bunsen-images,
 bunsen-keyring,
 bunsen-os-release,
 bunsen-pipemenus,
 bunsen-themes,
 bunsen-thunar,
 bunsen-utilities,
 bunsen-welcome
